################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs
.cache/clangd/index/function_test.cpp.2EA83D6E7450D981.idx
.cache/clangd/index/function.hpp.0FDF0BEC2164BB26.idx
.cache/clangd/index/id_connection_generator.hpp.3390AC9545CA1FF9.idx
.cache/clangd/index/main.cpp.E6014210226FE8A5.idx
.cache/clangd/index/signal_test.cpp.DAD7227D7382470E.idx
.cache/clangd/index/signal.hpp.BCDEF9E9753C98BD.idx
.cache/clangd/index/storage.hpp.E6C4439E14C48DE7.idx
.cache/clangd/index/context.hpp.7D3D1479383275AB.idx
.cache/clangd/index/function_examples.cpp.735B60A2773DC376.idx
.cache/clangd/index/function.cpp.E00D650166D7FC63.idx
.cache/clangd/index/object.hpp.65D918B77E93579D.idx
.cache/clangd/index/ping_pong_example.cpp.848EF302A4B8095E.idx
.cache/clangd/index/platforms_defined.hpp.2DE6E368478A1914.idx
.cache/clangd/index/queue_status.cpp.6AB4B94FB1A403DB.idx
.cache/clangd/index/queue_status.hpp.C0A1DC01A18B6610.idx
.cache/clangd/index/queue_traits.hpp.A3E495AB1D37B251.idx
.cache/clangd/index/queue.hpp.AEEE0F9B6812EB8C.idx
.cache/clangd/index/result.hpp.DF974C5BA9ECE7D3.idx
.cache/clangd/index/signal_examples.cpp.0B5A0F6BAA89CC37.idx
.cache/clangd/index/signal_micro_bench.cpp.7AB8A2AA0ED5AAB1.idx
.cache/clangd/index/signal.cpp.A25A4C35A65940B3.idx
.cache/clangd/index/std_queue.hpp.A9903BD186523CEB.idx
.vscode-ctags
checks.json
.cache/clangd/index/arraysize.h.1AA9BCF24922C89C.idx
.cache/clangd/index/benchmark_api_internal.cc.0D8C65E17EC6FD4D.idx
.cache/clangd/index/benchmark_api_internal.h.351C77AA9151F62E.idx
.cache/clangd/index/benchmark_main.cc.0D8684A516A1D284.idx
.cache/clangd/index/benchmark_name.cc.47F862A842A58478.idx
.cache/clangd/index/benchmark_register.cc.14B3F8514E1B39BF.idx
.cache/clangd/index/benchmark_register.h.E80C876F13CFCE07.idx
.cache/clangd/index/benchmark_runner.cc.D7F7810A6F3CD2A1.idx
.cache/clangd/index/benchmark_runner.h.9E52CAAADDE1AB3A.idx
.cache/clangd/index/benchmark.cc.2D0DD5299E1DA08B.idx
.cache/clangd/index/benchmark.h.AD441756982F46A2.idx
.cache/clangd/index/check.h.218B13FA25B483A2.idx
.cache/clangd/index/colorprint.cc.C654D0D1ED16068B.idx
.cache/clangd/index/colorprint.h.BE5E530D245FC29D.idx
.cache/clangd/index/commandlineflags.cc.3FC838C302970E0E.idx
.cache/clangd/index/commandlineflags.h.966552051B86998D.idx
.cache/clangd/index/complexity.cc.C04C6EC409558F15.idx
.cache/clangd/index/complexity.h.5BF517689EFC596E.idx
.cache/clangd/index/console_reporter.cc.C18CC3BBC55C4534.idx
.cache/clangd/index/counter.cc.7A3DF4F98D83819D.idx
.cache/clangd/index/counter.h.718F8DF9FB01C8FB.idx
.cache/clangd/index/csv_reporter.cc.FC3718939D168F6C.idx
.cache/clangd/index/cycleclock.h.09DFFBEDE5F0F678.idx
.cache/clangd/index/internal_macros.h.DFC52F6B177CE673.idx
.cache/clangd/index/json_reporter.cc.1A9C3E4057AC43F1.idx
.cache/clangd/index/log.h.A08D5360563B0217.idx
.cache/clangd/index/mutex.h.689548C0DAF68DAE.idx
.cache/clangd/index/perf_counters.cc.D4EC3080BA7F290A.idx
.cache/clangd/index/perf_counters.h.207EE5F514A98B9A.idx
.cache/clangd/index/re.h.44AAF3A06C61FB7F.idx
.cache/clangd/index/reporter.cc.06923080D147F4E8.idx
.cache/clangd/index/signal.cpp.12973D0E3EA06680.idx
.cache/clangd/index/sleep.cc.542B42C9160191FC.idx
.cache/clangd/index/sleep.h.84448AC42FC81119.idx
.cache/clangd/index/statistics.cc.A1CB5ADB3B2E067C.idx
.cache/clangd/index/statistics.h.2E9F340285BA7318.idx
.cache/clangd/index/string_util.cc.749A6D5C7ECDE6EF.idx
.cache/clangd/index/string_util.h.8A3278DF3C99952B.idx
.cache/clangd/index/sysinfo.cc.A59699751B29C152.idx
.cache/clangd/index/thread_manager.h.1A244F72352C1BA6.idx
.cache/clangd/index/thread_timer.h.D1E7C7B7584A2B10.idx
.cache/clangd/index/timers.cc.7003366EB23B71B5.idx
.cache/clangd/index/timers.h.3A8171E62171897F.idx
build/
todos
